@media (min-width: 720px) {
	.menu-top {

	}
}

html body {
	height: 100%;
}

#home {
	background-image: url("../images/bg.jpg");
}

#portfolio {

}

#history {
	background-color: rgba(10,10,10,0.8);
}

.container-gw {
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width:inherit;
	height:100vh;
	background-position: right;
	/*margin-top: -150px;*/
}

.container-sec {
	position: 
	width: inherit;
	height: 100vh;
}

.mask-grey {
	background-color: rgba(10,10,10,0.8);
	width: inherit;
	height: 100%;
}

.responsive-bottom {
	position: absolute;
	bottom: 15%;
	width: 100%;
	height: 35%;
}

.caption {
	font-family: 'Roboto';
	font-size: 2em;
	padding-top: 0px;
	padding-left: 20px;
	margin-bottom: -20px;
	color: #fff;
}

.secaption {
	font-family: 'Montserrat';
	font-size: 6em;
	color: #fff;
}

@media screen and (max-width: 600px) {
	.secaption {
		font-size: 5em;
	}
}

@media screen and (max-height: 560px) {
	.caption {
		font-size: 1em;
	}
	.secaption {
		font-size: 4em;
	}
}

.bismillah {
	font-family: 'Great Vibes', cursive;
	color: ivory;
	text-align: center;
	position: absolute;
	bottom: 5%;
	width: 100%;
}

.anim {
	height: 400px;
	width: auto;
}

#navbarNav {
	border-width: 2px;
	border-color: ivory;
	right: 1%;
}

.navbar-dark {
	background-color: rgba(10,10,10,0.8)
}

.nav-link {
	color: rgba(250,250,250,.8);
}

.links line {
  stroke: #fff;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.bgwhite-0 {
	/* background-color: #fff; */
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	/*clip-path: polygon(50% 100%, 0 0, 0 100%);*/
}

.bgwhite-left {
	/*background-image: linear-gradient(to bottom left, transparent 45%, white 50%);*/
	background-color: #fff;
	width: 50%;
	height: 51px;
	float: left;
	clip-path: polygon(0 0%, 80% 0, 100% 100%, 0% 100%);
}

.bgwhite-right {
	/*background-image: linear-gradient(to bottom right, transparent 45%, white 50%);*/
	background-color: #fff;
	width: 50%;
	height: 51px;
	float: right;
	clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.break {
	height: 20px;	
}

.img-portfolio {
	height: 150px;
	width: auto;
}

.image-portfolio-mobile {
	height: 500px;
	width: auto;
}

#portfolio {
	height: 100vh;
}

#article {
	font-size: 14px;
	font-family: roboto;
}

#mobile {
	text-align: center;
}

.nav-arrow {
	position: fixed;
	bottom: 1%;
	width: 100%;
}

.arrow-down {
	height: 20px;
	width: 50px;
}