@media (min-width: 720px) {
	.menu-top {

	}
}

html body {
	height: 100%;
}

.container-gw {
	position: relative;
	background-image: url("../images/bg.jpg");
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-size: cover;
	width:inherit;
	height:100vh;
	background-position: right;
	/*margin-top: -150px;*/
}

.mask-grey {
	background-color: rgba(10,10,10,0.8);
	width: inherit;
	height: 100%;
}

.caption {
	font-family: 'Roboto';
	font-size: 20px;
	padding-top: 50px;
	padding-left: 20px;
	margin-bottom: -20px;
	color: #fff;
}
.secaption {
	font-family: 'Montserrat';
	font-size: 70px;
	color: #fff;
}
.anim {
	height: 400px;
	width: auto;
}

#navbarNav {
	border-width: 2px;
	border-color: ivory;
	right: 1%;
}

.navbar-dark {
	background-color: rgba(10,10,10,0.8)
}

.nav-link {
	color: rgba(250,250,250,.8);
}

.links line {
  stroke: #fff;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.bismillah {
	font-family: 'Great Vibes', cursive;
	color: ivory;
	text-align: center;
}

.bgwhite-0 {
	/* background-color: #fff; */
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	/*clip-path: polygon(50% 100%, 0 0, 0 100%);*/
}

.bgwhite-left {
	/*background-image: linear-gradient(to bottom left, transparent 45%, white 50%);*/
	background-color: #fff;
	width: 50%;
	height: 50px;
	float: left;
	clip-path: polygon(0 0%, 80% 0, 100% 100%, 0% 100%);
}

.bgwhite-right {
	/*background-image: linear-gradient(to bottom right, transparent 45%, white 50%);*/
	background-color: #fff;
	width: 50%;
	height: 50px;
	float: right;
	clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.responsive-bottom {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.break {
	height: 20px;	
}

.img-portfolio {
	height: 150px;
	width: auto;
}